<!DOCTYPE html>
<html>
<head>
  <title>APJ Abdul Kalam Charity Trust</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body>
<div class="testbox" >
  <form >
    <div class="wrapper style4" >

      <h1 class="special">APJ Abdul Kalam Charity Trust</h1>
    </div>
    <mat-toolbar color="primary">
      <mat-toolbar-row style="background-color:'#9abcd9'">
        <button mat-icon-button>
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <span class="menu-spacer"></span>
        <div>
          <a mat-button [routerLink]="'/createscheme'"> Create scheme </a>
          <a mat-button [routerLink]="'/schemelist'"> Manage scheme </a>
          <a mat-button [routerLink]="'/allocatefund'"> Allocate fund </a>
          <a mat-button [routerLink]="'/disbursement'"> Fund disbursement </a>
          <a mat-button [routerLink]="'/onboarding'"> Onboard customer </a>
          <a mat-button [routerLink]="'/reports'"> Compliance report </a>
          <a mat-button [routerLink]="'/home'"> Logout </a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <br/>
    <div>
      <h1 align="center"> Customer On-boarding</h1>
    </div>

    <fieldset  >
      <legend>Personal Details</legend>

      <div class="columns">
        <div class="item">
          <label for="fName">First Name<span>*</span></label>
          <input id="fName" type="text" placeholder="First Name" name="fName" />
        </div>
        <div class="item">
          <label for="lName">Last Name<span>*</span></label>
          <input id="lName" type="text" name="lName"  placeholder="Last Name"/>
        </div>
        <div class="item">
          <label for="gender" >Gender <span>*</span></label>
          <input type="radio" id="M" name="gender" ><label for="male" class="special">Male</label>
          <input type="radio" id="F" name="gender" > <label for="female" class="special">Female</label>

        </div>
      </div>
    </fieldset>
    <br/>
    <fieldset>
      <legend>Address</legend>
      <div class="columns">
        <div class="item">
          <label for="Address1">Address line 1<span>*</span></label>
          <input id="addressLine1" type="text"   name="addressLine1"  placeholder="Address line 1"/>
        </div>
        <div class="item">
          <label for="Address2">Address line 2<span>*</span></label>
          <input id="addressLine2" type="text"   name="addressLine2"  placeholder="Address line 2"/>
        </div>
        <div class="item">
          <label for="Address3">Address line 1<span>*</span></label>
          <input id="addressLine3" type="text"   name="addressLine3"  placeholder="Address line 3"/>
        </div>
        <div class="item">
          <label for="Address4">Address line 1<span>*</span></label>
          <input id="addressLine4" type="text"   name="addressLine4"  placeholder="Address line 4"/>
        </div>
        <div class="item">
          <label for="Address5">Address line 1<span>*</span></label>
          <input id="addressLine5" type="text"   name="addressLine5"  placeholder="Address line 5"/>
        </div>
        <div class="item">
          <label for="postalcode">Postal Code<span>*</span></label>
          <input id="postalcode" type="text"   name="postalcode"  placeholder="Postal Code"/>
        </div>

        <div class="item">
          <label >Country<span>*</span></label>
          <select>
            <option value="1" disabled selected>Select the country</option>
            <option value="9" >India</option>
            <option value="10">United States</option>
            <option value="11">United Kingdom</option>
            <option value="12">Sweden </option>
          </select>
        </div>
      </div>
    </fieldset>
    <br/>
    <fieldset  >
      <legend>FATCA details</legend>

      <div class="columns">
        <div class="item">
          <label for="usResident">is US Resident <span>*</span></label>
          <input type="radio" id="Y" name="isUSResident" ><label for="male" class="special">Yes</label>
          <input type="radio" id="N" name="isUSResident" ><label for="male" class="special">No</label>
        </div>
        <div class="item">
          <label for="usTaxResident">is US Tax Resident <span>*</span></label>
          <input type="radio" id="Y" name="isUSTaxResident" ><label for="male" class="special">Yes</label>
          <input type="radio" id="N" name="isUSTaxResident" ><label for="male" class="special">No</label>
        </div>
        <div class="item">
          <label for="tin">Tin<span>*</span></label>
          <input id="tin" type="text" name="tin"  placeholder="Tin"/>
        </div>
      </div>
    </fieldset>
    <br/>
    <div align="center">
      <div class="btn-block">
        <button type="back" (click)="goToDashboard()">Back</button>
        <button type="submit" (click)="save()">Submit</button>
      </div>
      <div class="btn-block">

      </div>
    </div>

  </form>
</div>
</body>
</html>
